body{
	font-family: sans-serif;
	margin:0;
	padding:0;
	background-image:url("home.jpg");
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
#title{
	padding:30px;
	padding-top: 20px;
	background: rgba(0,0,0,0);
	text-align: right;
}
#title span{
	font-family: Bahnschrift;
	font-size: 70px;
	color:rgb(246,141,45);
	text-shadow: 1px 1px #ffffff;
	float :right;

}
#title a{
	text-decoration: none;
	color:rgba(0,0,0,0.5);
}
#title img{
	height:70px;
	width:70px;
	margin-right: 20px;
	vertical-align: text-bottom;
}
#title ul{
	list-style: none;
	display: inline;
} 
#title ul li{
width:100px;
text-align: center;
padding-top: 10px;
padding-bottom:10px;
overflow: hidden;
font-size:20px;
color:rgba(0,0,0,0.5);
float : right;
margin-right: 30px;
margin-left: 3px;
margin-top: 3px;
}
#title ul #active a{
	color:white;
}
#title ul #active {
color:white;
background:rgba(0,0,0,0.2);
border:1px rgba(0,0,0,0.2);
border-radius: 20px 20px 20px 20px;
}
#title ul li:hover{
transition: 0.4s;
color:white;
background:rgba(0,0,0,0.2);
border:1px rgba(0,0,0,0.2);
border-radius: 20px 20px 20px 20px;
cursor: pointer;
}
#title ul li a:hover{
	color:white;
}
#c1{
	width:550px;
	text-align: left;
	margin: 20px 150px 0px 0px;
	float: right;
	text-align: right;
	padding: 0px;
}
#c1 button{
	padding:5px;
	width:160px;
	font-size:18px;
	text-align: left;
	border:none;
	border-radius: 45px 45px 45px 45px;
	color:white;
  	background-size: 200% 100%;
  	background-position: right bottom;
  	margin-left: 10px;
}
#list1{
		background:rgb(255,87,34);
}
#list2{
		background:rgba(0,0,0,0.3);
}
#list3{
		background:rgba(0,0,0,0.3);
}
#list1:hover{
	background:rgb(255,87,34);
}
#list2:hover{
	background:rgb(255,24,0);
}
#list3:hover{
	background:rgb(34,167,204);
}
#c1 img{
	width:50px;
	height:50px;
	vertical-align: middle;
	margin-right: 10px;
}
#c1 button:hover{
	transition: all .3s ease-out;
	cursor:pointer;
}
#c2,#c3,#c4{
	padding:0 20px 20px 20px;
	text-align: center;
	margin: 20px 150px 0px 0px;
	float: right;
	text-align: left;
	background:rgba(255,87,34,1);
	border-radius: 30px 30px 30px 30px;
	overflow:hidden;
	display: block;
}
input{
	width:500px;
	margin-top: 20px;
	padding:10px;
	border:2px solid rgba(0,0,0,0.3);
	border-radius: 20px;
	background:rgba(255,255,255,0.8);
}
.i1{
	width:235px !important;
	margin-top: 20px !important;
	
}
#c3{
	background:rgb(255,24,0);
	display: none;
}
#c4{
	background:rgb(34,167,204);
	display: none;
}
.button{
	width:150px !important;
	background:rgba(0,0,0,0.5) !important;
	color:white;
}
.button:hover{
	cursor:pointer;
	transition : 0.3s;
	background:white !important;
	color:#444444 !important;
}
select{
	width:500px;
	margin-top: 20px;
	padding:10px;
	border:2px solid rgba(0,0,0,0.3);
	border-radius: 20px;
	background:rgba(255,255,255,0.8);
	color:rgba(0,0,0,0.5); 	
}